@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #2563eb;
}

html,
body {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: auto;
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3rem; /* 48px */
    line-height: 1;
}

h2 {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
}

h3 {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}

h4 {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

h5 {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}

p {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
}

li {
    font-size: 1.25rem;
}

ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    list-style: square;
    font-size: 1rem;
    line-height: 1.6875rem;
}

ol {
    margin-left: 2rem;
    list-style: decimal;
}

a {
    color: inherit;
    text-decoration-color: var(--main-color);
    cursor: pointer;
}

a:hover {
    color: var(--main-color);
}

.cardback {
    background-color: #18181B;
}

.menu {
    background-color: #18181B;
    opacity: .9;
}

.brand {
    color: var(--main-color);
}

button:hover {
    background-color: #2f3132;
}

pre {
    background-color: #18181B;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    padding: 16px;
    font-size: 14px;
    overflow-x: auto;
    white-space: pre;
    line-height: 1.45;
    border: 1px solid #e1e4e8;
    margin: 16px 0;
}

code {
    font-size: 16px;
    line-height: 1.45;
    font-family: 'JetBrains Mono', monospace;

}

.codeblock {
    margin-bottom: 1.5rem;
}

.highlight {
    color: #f1fa8c;
    font-size: 16px;
    line-height: 1.45;
    font-family: 'JetBrains Mono', monospace;
}
